body {
	font-family: Comfortaa, Tahoma;
	box-sizing: border-box;
	/* border: 10px solid rgb(221, 193, 152); */
	height: 100%;
	margin: 0;
	padding: 0;
	/* background-image: url('https://ih1.redbubble.net/image.778228192.6145/st,small,845x845-pad,1000x1000,f8f8f8.u1.jpg'); */
	background-color: rgb(214, 215, 212);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

/*nav bar*/
nav {
	overflow: hidden;
	background-color: #ddb4f1;
	border-radius: 4px;
	font-size: large;
	font-weight: bold;
	display: flex;
	height: 120px;
	justify-content: space-between;
}
nav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}
nav a:hover {
	/* background-color: #ddd; */
	color: #f35a5b;
}

#banner img {
	position: relative;
	top: -17px;
	display: flex;
	justify-content: flex-end;
	border-radius: 15px;
	width: 280px;
	height: 90px;
	/* margin-bottom: 5px; */
}

nav #nav-items {
	display: flex;
	/* justify-content: space-around; */
	position: relative;
	top: 20px;
	margin: 10px;
	/* par-right: 20px; */
}

/*home page*/

#welcome {
	display: 'flex';
	flex-direction: column;
	text-align: center;
	font-size: x-large;
	justify-content: space-between;
	/* font-weight: bolder; */
	/* align-items: center; */
	/* display: inline-grid; */
	/* margin: 0px 755px; */
}
.welcome-cat {
	opacity: 0.7;
}

/*all users page*/
.users {
	background-color: rgb(221, 221, 221, 0.3);
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* height: 584px; */
	overflow-y: scroll;
}

#user {
	/* border-radius: 15px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	width: 150px;
	border: 1px solid #333;
	margin: 10px;
}

#search-form {
	display: flex;
	justify-content: center;
}

input[id='search-bar'] {
	width: 250px;
	height: 40px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
	background-image: url(/pics/3-search-cat_icon-icons.com_76679.png);
	background-position: 10px;
	background-repeat: no-repeat;
	padding: 12px;
	padding-left: 50px;
}

/*single-user*/
.single-user-entry {
	display: flex;
	justify-content: center;
	float: inline-start;
	/* width: 33.33%; */
	padding: 15px;
}

/*edit-user*/

#edit-user-form,
input[id='user-edit-form'],
textarea {
	display: flex;
	/* width: 100%; */
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	/* resize: vertical; */
}

#edit-user-form,
label {
	display: inline-block;
}

#edit-user {
	margin: 10px;
	height: 30px;
	width: 70px;
}

#logout-button {
	margin: 10px;
	height: 30px;
	width: 70px;
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	/* border: none; */
	/* padding: 15px px; */
	/* text-align: initial; */
	/* text-decoration: none; */
	/* display: inline-block; */
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
}
/* .editUser {
	border-radius: 5px;

	padding: 20px;
} */
.dit-column {
	float: left;
	width: 25%;
	margin-top: 6px;
}

input[id='user-edit-form'] {
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	width: 250px;
}

/*username and password*/
form {
	color: black;
	font-weight: bold;
}

form,
label {
	text-align: start;
	font-weight: bold;
}

#log-in-form,
input[id='logging-in'] {
	display: inline-flex;
	justify-content: flex-start;
	margin: 5px;
	flex-flow: row;
	/* width: 200px; */
}
/* create new user (admin)*/
#create-user-form {
	/* justify-content: 'center'; */
	/* margin-top: '50px'; */
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
	/* align-content: center; */
	width: 300px;
}

/*all products*/
.products {
	/* background-color: rgb(221, 221, 221, 0.3); */
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	/* position: relative; */
	justify-content:start;
	/* height: 98vh; */
	/* overflow-y: scroll; */
	margin: 0 30px 0 50px;
}

#product {
	/* border-radius: 15px; */
	position: relative;
	height: 150px;
	width: 150px;
	border: 1px solid #333;
	/* margin-right: 10px; */
}

#product .product-image {
	/* border-radius: 15px; */
	display: flex;
	margin-inline: auto;
	width: 150px;
	height: 122px;
}

#cat-product {
	position: relative;
	height: 164px;
	width: 364px;
	/* margin: 20px auto; */
	margin: 25px 20px;
	border-radius: 7px 7px 7px 7px;
	/* VIA CSS MATIC https://goo.gl/cIbnS */
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

#cart-product {
	height: 210px;
	width: 445px;
	/* margin: 20px auto; */
	margin: 50px 0px;
	border-radius: 7px 7px 7px 7px;
	/* VIA CSS MATIC https://goo.gl/cIbnS */
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

#cat-image {
	float: left;
	height: 164px;
	width: 164px;
	border-radius: 7px 0 0 7px;
}

#cart-image {
	float: left;
	height: 210px;
	width: 164px;
	border-radius: 7px 0 0 7px;
}

#cat-product-info {

	float: left;
	height: 164px;
  width: 200px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

#cart-product-info {
	float: left;
	height: 210px;
  width: 280px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

#cat-product-name {
	position: relative;
	left: 6px;
	/* height: 300px; */
  /* width: 327px; */
	margin: 0 0 0 38px;
  padding-top: 29px;
  font-size: 18px;
  color: #f35a5b;
	text-shadow: 0.5px 0.5px black;
	border: '1px solid black'
}
#cart-product-name {
	position: relative;
	left: 20px;
	/* height: 300px; */
  /* width: 327px; */
	margin: 0 0 0 38px;
  padding-top: 29px;
  font-size: 23px;
  color: #474747;
}

#cat-product-description {
	/* height: 210px; */
  width: 0px;
	height: 125px;
  /* margin: 0 0 0 3px; */
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 13px;
  font-weight: lighter;
  overflow: hidden;
	/* position: relative; */
	/* left: 180px; */
	/* top: -455px */
}

#cat-product-price {
	/* height: 103px; */
	position: absolute;
  width: 37px;
  margin-top: 13px;
  /* position: relative; */
	/* font-family: 'Playfair Display', serif; */
	top: 120px;
	font-size: 12px;
	left: 170px;
	/* display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747; */

}

#item-total {
	position: relative;
top: 20px;
/* left: 8px; */
	/* display: flex; */
	/* justify-content: center; */
	/* flex-direction: column; */
}


#cart-product-price {
	/* height: 103px; */
  width: 327px;
  margin-top: 13px;
  position: relative;
	top: 43px;
	left: 8px;
	/* font-family: 'Playfair Display', serif; */
	/* top: 67px; */
	/* font-size: 12px; */
	/* left: 20px; */
	/* display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747; */

}


a,
#product-name {
	display: table-cell;
	font-weight: bold;
	border-radius: 25px;
	/* margin: 15px; */
	/* color: #ffce8d; */
	height: 20px;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

#product-price {
	/* position: fixed; */
	left: 200px;
	display: flex;
	justify-content: flex-end;
	font-size: 13px;
}

.sort {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: small;
}

#praticatily-rating {
	visibility: hidden;
}

#filter-practicality-form {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: small;
}

#select-bar {
	width: 75px;
	height: 25px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

#product-filter {
	width: 50px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

.page-turn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: larger;
	margin-right: 20px;
	margin-bottom: 6px;
}

.page-label {
	display: inline-flex;
	align-items: center;
	font-size: smaller;
}

/*single product view*/

#singlecat img {
	height: 280px;
	width: 400px;
	border-radius: 11px;
}

h4,
#description {
	/* font-size: 11px; */
	text-align: justify;
}
#single-product-view {
	display: flex;
	flex-direction: row-reverse;
}

#single-product-view-price {
	display: flex;
	flex-direction: row-reverse;
}

/*create new product (admin)*/
#product-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

/*buttons*/
button[id='log-in'] {
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 70px;
	height: 25px;
	/* font-size: 10px; */
}

button[id='edit-button'] {
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	width: 100px;
	/* border: none; */
	/* padding: 15px px; */
	/* text-align: initial; */
	/* text-decoration: none; */
	/* display: inline-block; */
	/* font-size: 13px; */
	margin: 4px 4px;
	height: 30px;
}

button[id='full-prof'] {
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
}

button[id='all-users'] {
	background-color: #333;
	color: #f2f2f2;
	border-radius: 4px;
	border: none;
	/* padding: 15px 32px; */
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	/* margin: 4px 4px; */
}

#empty {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

button[id='arrange-button'] {
	/* margin-bottom: 10px; */
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 5px;
	/* border: none; */
	/* padding: 15px px; */
	/* text-align: initial; */
	/* text-decoration: none; */
	/* display: inline-block; */
	/* font-size: 11px; */
	margin: 4px 4px;
	/* height: 20px; */
}

button[id='page-button'] {
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 9px;
	margin: 4px 4px;
	height: 10px;
}

button[id='delete-button'] {
	position: relative;
	left: 399px;
	top: -353px;
	background-color: red;
	color: #ddd;
	border-radius: 4px;
	/* border: none; */
	padding: 15px px;
	/* text-align: initial; */
	/* text-decoration: none; */
	/* display: inline-block; */
	margin: 4px 4px;
	/* width: 50px; */
	height: 17px;
	font-size: 10px;
}

button[id='delete-user'] {
	background-color: rgb(52, 46, 89);
	color: #ddd;
	border-radius: 4px;
	/* display: flex; */
	/* justify-content: center; */
	/* border: none; */
	/* padding: 15px px; */
	/* text-align: initial; */
	/* text-decoration: none; */
	/* display: inline-block; */
	/* font-size: 13px; */
	margin: 4px 4px;
	height: 30px;
	width: 80px;
}

button[id='create'] {
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
}

button[id='create-button'] {
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	/* border: none; */
	/* padding: 15px px; */
	/* text-align: initial; */
	/* text-decoration: none; */
	display: inline-block;
	/* font-size: 13px; */
	margin: 4px 4px;
	height: 30px;
}

button[id='edit'] {
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	/* border: none; */
	/* padding: 15px px; */
	/* text-align: initial; */
	/* text-decoration: none; */
	/* display: inline-block; */
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
	/* align-items: flex-end; */
}

button[id='user-checkout-cart'] {
	position: relative;
	left: 350px;
	background-color: #f35a5b;
	color: #ddd;
	padding: 12px 20px;
	/* border: none; */
	border-radius: 4px;
	cursor: pointer;
	/* float:inline-end; */
}

button[id='checkout'] {
	/* display: flex; */
	/* justify-content: flex-end; */
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	/* border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px; */
	margin: 4px 4px;
	height: 30px;
	/* align-items: flex-end; */
}

button[id='check-out'] {
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
	align-items: flex-end;
}
#catCart {
	width: 30px;
	height: 25px;
	/* margin-bottom: 20px; */
}

button[id='add-to'] {
	margin-top: 127px;
	margin-left: 210px;
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	position: 'absolute';
	/* left: -75px; */
	/* top: 159px; */
	/* border: none; */
	/* padding: 15px px; */
	/* text-align: initial; */
	/* text-decoration: none; */
	/* display: inline-block; */
	/* font-size: 13px; */
	/* margin: 4px 4px; */
	height: 30px;
	/* align-items: flex-
	end; */
}

button[id='quantity'] {
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 9px;
	margin: 4px 4px;
	height: 15px;
}
/*cart*/

#quantity {
	position: relative;
	left: 8px;
}
.cartProducts {
	justify-content: center;
	/* border-bottom: 1px solid #d8d8d8; */
	display: grid;
	grid-template: 1fr auto auto auto;
	padding: 20px 0;
}

#cartProducts img {
	height: 200px;
	width: 340px;
	border-radius: 15px;
}

/*checkout*/

#user-checkout {
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
}

#user-checkout-2 {
	display: flex;
	justify-content: flex-end;
}

#place-order-form,
input[id='checkout-form'],
select,
textarea {
	width: 700px;
	padding: 12px;
	/* border: 1px solid #ccc; */
	border-radius: 4px;
	/* resize: vertical; */
}

#place-order-form,
label {
	display: inline-block;
}
.container {
	border-radius: 5px;

	padding: 20px;
}
.column {
	float: left;
	width: 25%;
	margin-top: 6px;
}

input[id='checkout-form'] {
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	width: 250px;
}

#cat-tax {
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
}

#grand-total {
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
}
/*error handler*/

#error img {
	width: 500px;
	height: 315px;
}

.error {
	display: flex;
}

#formSub {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button[id='error-return'] {
	position: relative;
	background-color: #f35a5b;
	color: #ddd;
	border-radius: 4px;
	left: 35px;
	/* border: none; */
	/* padding: 15px px; */
	/* text-align: initial; */
	/* text-decoration: none; */
	/* display: inline-block; */
	/* font-size: 13px; */
	margin: 4px 4px;
	height: 30px;
	/* align-items: flex-end; */
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: gainsboro;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	/* background: black; */
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f35a5b;
}

#full_profile {
	height: 30px;
	margin: 30px;
	margin-top: 20px;
	/* font-size: 15px; */
}

#hi_cat {
	/* position: relative; */
	/* left: 27px; */
	width: 300px;
	height: 300px;
	margin-right: 20px;
}

/* #navig {
	display: flex;
	flex-direction: column;
	justify-content: center;
} */
/* .scrolldown {
	width: 400px;
	table-layout: fixed;
	overflow-y: auto;
	border-collapse: collapse;
} */

/*https://apluspetsitting.com/wp-content/uploads/2016/03/cats-150x150.jpg*/

.newUser {
	margin-top: 10px;
	margin-bottom: 3px;
}
