body {
	font-family: Comfortaa, Tahoma;
	box-sizing: border-box;
	border: 10px solid rgb(221, 193, 152);
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url('https://ih1.redbubble.net/image.778228192.6145/st,small,845x845-pad,1000x1000,f8f8f8.u1.jpg');
	background-color: rgba(250, 250, 250, 0.945);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

/*nav bar*/
nav {
	overflow: hidden;
	background-color: #333;
	border-radius: 4px;
	font-size: large;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}
nav a {
	float: left;
	display: block;
	color: #ffce8d;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}
nav a:hover {
	background-color: #ddd;
	color: black;
}

#banner img {
	display: flex;
	justify-content: flex-end;
	border-radius: 15px;
	width: 250px;
	height: 140px;
}

nav #nav-items {
	display: flex;
}

/*home page*/

#welcome {
	text-align: center;
	font-size: x-large;
	font-weight: bolder;
	align-items: center;
	display: inline-grid;
	margin: 0px 755px;
}
.welcome-cat {
	opacity: 0.7;
}

/*all users page*/
.users {
	background-color: rgb(221, 221, 221, 0.3);
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 584px;
	overflow-y: scroll;
}

#user {
	border-radius: 15px;
	height: 75px;
	width: 150px;
	border: 1px solid #333;
	margin: 10px;
}

input[id='search-bar'] {
	width: 250px;
	height: 40px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
	background-image: url(/pics/3-search-cat_icon-icons.com_76679.png);
	background-position: 10px;
	background-repeat: no-repeat;
	padding: 12px;
}

/*single-user*/
.single-user-entry {
	float: inline-start;
	width: 33.33%;
	padding: 15px;
}

/*edit-user*/

#edit-user-form,
input[id='user-edit-form'],
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

#edit-user-form,
label {
	display: inline-block;
}
.editUser {
	border-radius: 5px;

	padding: 20px;
}
.dit-column {
	float: left;
	width: 25%;
	margin-top: 6px;
}

input[id='user-edit-form'] {
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	width: 250px;
}

/*username and password*/
form {
	color: black;
	font-weight: bold;
}

form,
label {
	text-align: center;
	font-weight: bold;
}

#log-in-form,
input[id='logging-in'] {
	display: inline-flex;
	justify-content: flex-start;
	margin: 5px;
	flex-flow: row;
	width: 50px;
}
/* create new user (admin)*/
#create-user-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

/*all products*/
.products {
	background-color: rgb(221, 221, 221, 0.3);
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 584px;
	overflow-y: scroll;
}

#product {
	border-radius: 15px;
	height: 150px;
	width: 150px;
	border: 1px solid #333;
	margin: 10px;
}

#product .product-image {
	border-radius: 15px;
	display: flex;
	margin-inline: auto;
	width: 100px;
	height: 100px;
}

a,
#product-name {
	display: table-cell;
	font-weight: bold;
	border-radius: 25px;
	margin: 15px;
	color: #ffce8d;
	height: 20px;
	padding: 5px;
	font-size: 11px;
	text-decoration: none;
}

#product-price {
	display: flex;
	justify-content: flex-end;
	font-size: 13px;
}

.sort {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: xx-small;
}

#praticatily-rating {
	visibility: hidden;
}

#filter-practicality-form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: small;
}

#select-bar {
	width: 75px;
	height: 25px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

#product-filter {
	width: 50px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

.page-turn {
	display: flex;
	flex-direction: row;
	font-size: small;
}

.page-label {
	display: inline-flex;
	align-items: center;
	font-size: smaller;
}

/*single product view*/

#singlecat img {
	height: 250px;
	width: 550px;
	border-radius: 15px;
}

h4,
#description {
	font-size: 11px;
	text-align: justify;
}
#single-product-view {
	display: flex;
	flex-direction: row-reverse;
}

#single-product-view-price {
	display: flex;
	flex-direction: row-reverse;
}

/*create new product (admin)*/
#product-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

/*buttons*/
button[id='log-in'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 60px;
	height: 15px;
	font-size: 10px;
}

button[id='edit-button'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
}

button[id='full-prof'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
}

button[id='all-users'] {
	background-color: #333;
	color: #f2f2f2;
	border-radius: 4px;
	border: none;
	padding: 15px 32px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	margin: 4px 4px;
}

button[id='arrange-button'] {
	background-color: #555;
	color: #ddd;
	border-radius: 5px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
	margin: 4px 4px;
	height: 20px;
}

button[id='page-button'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 9px;
	margin: 4px 4px;
	height: 10px;
}

button[id='delete-button'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	margin: 4px 4px;
	width: 50px;
	height: 20px;
	font-size: 10px;
}

button[id='delete-user'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
}

button[id='create'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
}

button[id='create-button'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
}

button[id='edit'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
	align-items: flex-end;
}

button[id='user-checkout-cart'] {
	background-color: #555;
	color: #ddd;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

button[id='checkout'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
	align-items: flex-end;
}

button[id='check-out'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
	align-items: flex-end;
}
#catCart {
	width: 40px;
	height: 30px;
}

button[id='add-to'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
	align-items: flex-end;
}

button[id='quantity'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 9px;
	margin: 4px 4px;
	height: 15px;
}
/*cart*/

.cartProducts {
	border-bottom: 1px solid #d8d8d8;
	display: grid;
	grid-template: 1fr auto auto auto;
	padding: 20px 0;
}

#cartProducts img {
	height: 200px;
	width: 340px;
	border-radius: 15px;
}

#item-total {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/*checkout*/

#user-checkout {
	display: flex;
	justify-content: flex-end;
}

#user-checkout-2 {
	display: flex;
	justify-content: flex-end;
}

#place-order-form,
input[id='checkout-form'],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

#place-order-form,
label {
	display: inline-block;
}
.container {
	border-radius: 5px;

	padding: 20px;
}
.column {
	float: left;
	width: 25%;
	margin-top: 6px;
}

input[id='checkout-form'] {
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	width: 250px;
}

#cat-tax {
	display: flex;
	justify-content: flex-end;
}

#grand-total {
	display: flex;
	justify-content: flex-end;
}
/*error handler*/

#error img {
	width: 500px;
	height: 315px;
}

.error {
	display: flex;
}

button[id='error-return'] {
	background-color: #555;
	color: #ddd;
	border-radius: 4px;
	border: none;
	padding: 15px px;
	text-align: initial;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px;
	height: 30px;
	align-items: flex-end;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: gainsboro;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* .scrolldown {
	width: 400px;
	table-layout: fixed;
	overflow-y: auto;
	border-collapse: collapse;
} */

/*https://apluspetsitting.com/wp-content/uploads/2016/03/cats-150x150.jpg*/
